spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://10.101.61.182:3306/geticard}
    username: ${DB_USERNAME:aluno}
    password: ${DB_PASSWORD:12345678}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate: 
       ddl-auto: none
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
server:
  port: ${PORT:8080}
  servlet:
    context-path: /wscard